## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
ls=list(range(0,101))
#print(ls)

sample_list_1=random.sample(ls,80)
print(sample_list_1)
len(sample_list_1)

[94, 15, 28, 5, 29, 17, 33, 18, 63, 36, 48, 9, 93, 92, 65, 96, 13, 86, 55, 85, 98, 49, 2, 74, 72, 61, 56, 64, 87, 20, 4, 52, 53, 23, 88, 27, 89, 50, 39, 7, 70, 24, 34, 66, 37, 81, 40, 35, 77, 97, 100, 59, 91, 57, 73, 80, 41, 68, 32, 42, 1, 79, 14, 54, 44, 0, 67, 78, 95, 22, 31, 47, 83, 46, 76, 99, 26, 71, 90, 16]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1=set(sample_list_1)
print(set1)

{0, 1, 2, 4, 5, 7, 9, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 44, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 61, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

sample_list_2=[]

for i in range(80):
    a=random.randrange(0,101)
    sample_list_2.append(a)

print(sample_list_2)

[2, 41, 32, 52, 38, 58, 67, 63, 44, 78, 20, 70, 28, 87, 58, 82, 55, 42, 13, 14, 95, 37, 34, 0, 88, 68, 99, 28, 38, 6, 35, 92, 93, 71, 21, 55, 20, 7, 50, 44, 23, 74, 41, 41, 95, 93, 97, 72, 40, 9, 84, 89, 1, 72, 4, 40, 51, 81, 96, 31, 94, 2, 38, 61, 81, 76, 20, 35, 42, 22, 79, 82, 35, 26, 49, 6, 51, 44, 86, 20]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2=set(sample_list_2)
print(set2)

len(set2)

#No es la longitud de 80 porque no un set no se puede repetir valores.

{0, 1, 2, 4, 6, 7, 9, 13, 14, 20, 21, 22, 23, 26, 28, 31, 32, 34, 35, 37, 38, 40, 41, 42, 44, 49, 50, 51, 52, 55, 58, 61, 63, 67, 68, 70, 71, 72, 74, 76, 78, 79, 81, 82, 84, 86, 87, 88, 89, 92, 93, 94, 95, 96, 97, 99}

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{5, 15, 16, 17, 18, 24, 27, 29, 33, 36, 39, 46, 47, 48, 53, 54, 56, 57, 59, 64, 65, 66, 73, 77, 80, 83, 85, 90, 91, 98, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{38, 6, 82, 51, 84, 21, 58}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 1, 2, 4, 7, 9, 13, 14, 20, 22, 23, 26, 28, 31, 32, 34, 35, 37, 40, 41, 42, 44, 49, 50, 52, 55, 61, 63, 67, 68, 70, 71, 72, 74, 76, 78, 79, 81, 86, 87, 88, 89, 92, 93, 94, 95, 96, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
lenset1=len(set1)
print(lenset1)
lenset2=len(set2)
print(lenset2)
lenset3=len(set3)
print(lenset3)
lenset4=len(set4)
print(lenset4)
lenset5=len(set5)
print(lenset5)

80
56
31
7
49

In [10]:
# Your code here

if len(set3) + len(set5) == len(set1):
    print("El set3 mas el set5 forman el set1")

if len(set4) + len(set5) == len(set2):
    print("El set4 mas el set5 forman el set2")

El set3 mas el set5 forman el set1
El set4 mas el set5 forman el set2

#### Create an empty set called `set6`.

In [12]:
# Your code here
set6=set()
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [22]:
# Your code here

set6.update(set3)
set6.update(set5)

print(set6)

{0, 1, 2, 4, 5, 7, 9, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 44, 46, 47, 48, 49, 50, 52, 53, 54, 55, 56, 57, 59, 61, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [26]:
# Your code here

set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [28]:
set2.issubset(set1)

False

In [29]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [31]:
# Your code here

set345 = set3.union(set4.union(set5))

set12 = set1.union(set2)

In [32]:
set345 == set12

True

#### Using the `pop` method, remove the first element from `set1`.

In [33]:
# Your code here

set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [38]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)

In [40]:
print(set1)

{2, 4, 5, 7, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 26, 27, 28, 32, 33, 34, 35, 36, 37, 40, 42, 44, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 76, 77, 78, 80, 83, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100}